@font-face {
    font-family: 'lcards_context_ultra_condensed';
    src: url('/hacsfiles/lcards/fonts/context_ultra_condensed.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}